.card
    width: 200px
    height: 200px
    border: 2px solid black
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin: 2rem
    gap: 1rem
    input
        align-self: flex-start
        margin-left: 1rem
        