.card
    width: 15vw
    height: 15vw
    border: 2px solid black
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin: 2rem
    input
        align-self: flex-start
        margin-left: 1rem
        